* {
    margin: 0;
    padding: 0;
}

/* headind styling */

.heading-d {

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    background-color: azure;

}

.heading {
    background-color: #A9C5FF;
    width: 500px;
    height: 10px;
    text-align: center;

}

.heading-p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    width: 500px;
    height: 20px;
    padding-top: 40px;
    font-weight: bold;
}

/* body styling */

body {

    min-height: 100vh;

}

/* Gaming area Styling */

.gaming-area {
    background-color: #A9C5FF;
    margin-top: 10px;
    width: 500px;
    height: 700px;
    text-align: center;


}

img {
    width: 100px;
    margin: 0 9px;
    margin-top: 25px;
    padding-bottom: 20px;
    background: #99150E;
    border: 2px solid black;
    border-radius: 10px;
    cursor: grab;

}

.btn {
    width: 120px;
    height: 20px;
    cursor: pointer;

}

.reset {
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;

}

.btn {
    height: 30px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: normal;


}

.score {
    text-align: center;
    padding-top: 25px;
}

#game-result {
    text-align: center;
}


/* selection styling */

.selected {
    background: blue;
}

/* Media queriesfor screens that are 600px wide or less*/

/* heading styling */

@media screen and (max-width: 600px) {
    .heading {
        background-color: #A9C5FF;
        width: 380px;
        height: 50px;
        /* padding-top: 20px; */
        text-align: left;
        padding-left: 10px;
    }

    /* gaming area styling */

    .score {
        text-align: left;
        margin-left: 40px;
    }

    #player-hand {
        text-align: left;
        padding-top: 10px;
    }

    #game-result {
        text-align: left;
        margin-left: 140px;
    }

    .reset {
        text-align: left;
        margin-left: 120px;
        padding-top: 25px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .heading-p {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: x-large;
        width: 500px;
        height: 20px;
        padding-top: 10px;
        font-weight: bold;
        text-align: left;
        padding-left: 40px;
    }

    .gaming-area {
        background-color: #A9C5FF;
        margin-top: 10px;
        width: 500px;
        height: 700px;
        text-align: left;


    }
}